@model NetFleeks.Models.ChangePasswordViewModel

<link rel="stylesheet" href="~/Content/Manage.css" />

@{
    ViewBag.Title = "Change Password";
}

<h2 id="pageTitle">Change Password</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label id="passwordLabel" class="control-label col-md-2">Current Password</label>
            <div class="col-md-10" style="margin-bottom:-1em">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label id="passwordLabel" class="control-label col-md-2">New Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label id="passwordLabel" class="control-label col-md-2">Confirm New Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="margin-left:0em;" type="submit" value="Change Password" class="btn btn-primary" />
            </div>
            <div style="font-size: 16px; color:#1679c1; margin-left: 12em;">
                <br /><br />
                @Html.ActionLink("Back to Manage Account", "Index")
            </div>
        </div>
        
        </div>
}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
