@model IEnumerable<NetFleeks.ViewModel.RentalViewModel>


<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<link rel="stylesheet" href="~/Content/Rental.css" />

@{
    ViewBag.Title = "Rentals";
}

<h2 id="pageTitle">Rentals</h2>

<p style="font-size:20px; color:#1679c1;">
    &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
    @Html.ActionLink("All times Rentals", "IndexAll") &nbsp | &nbsp
    @Html.ActionLink("Current Rentals", "Index") &nbsp &nbsp | &nbsp
    @Html.ActionLink("Group By Users", "GroupBy1") &nbsp | &nbsp
    @Html.ActionLink("Group By Genres", "GroupBy2")&nbsp
</p>

<table class="table" id="rentalsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.movie)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.rentalUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rentalExpiration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genre)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.movie)
            </td>
            <td>@Html.DisplayFor(modelItem => item.rentalUser)</td>
            <td>
                @Html.DisplayFor(modelItem => item.rentalExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
        </tr>
    }

</table>


