@model NetFleeks.Models.Cinemas

<link rel="stylesheet" href="~/Content/CinemasMap.css" />

@{
    ViewBag.Title = "Details";
}

<h2 id="pageTitle">@Html.DisplayFor(model => model.cinemaName) Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="details">
        <dt>
            @Html.DisplayNameFor(model => model.cinemaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinemaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cinemaAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinemaAddress)
        </dd>

    </dl>

    <div style="margin-left: 7em">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

