@model NetFleeks.Models.Cinemas

<link rel="stylesheet" href="~/Content/CinemasMap.css" />

@{
    ViewBag.Title = "Edit";
}

<h2 id="pageTitle">Edit @Html.DisplayFor(model => model.cinemaName)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label id="cinemaLabel" class="control-label col-md-2">Cinema Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cinemaName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cinemaName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label id="cinemaLabel" class="control-label col-md-2">Cinema Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cinemaAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cinemaAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left: 13em">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
            <br />

            <div style="margin-left: 11.5em; font-size: 16px;">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
