@model IEnumerable<NetFleeks.Models.Cinemas>

<link rel="stylesheet" href="~/Content/CinemasMap.css" />

@{
    ViewBag.Title = "Index";
}

<h2 id="pageTitle">Cinemas</h2>

<p style="font-size:17px; margin-left:0.2em">
    @Html.ActionLink("Create New Movie", "Create")
</p>
    
<table class="table" id="rentalsTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cinemaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cinemaAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinemaAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
</table>
