@model IEnumerable<NetFleeks.Models.Movies>

<!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<link rel="stylesheet" href="~/Content/Search.css" />

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New Movie", "Create")
</p>

<div class="container">
    @using (Html.BeginForm())
    {
        <p>
            <div class="form-group">
                @Html.Label("Genre:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-control" style="width:50%" name="genreID">
                        <option value="0" selected></option>
                        <option value="1">Comedy</option>
                        <option value="2">Romance</option>
                        <option value="3">Drama</option>
                        <option value="4">Action</option>
                        <option value="5">Horror</option>
                        <option value="6">SciFi</option>
                        <option value="7">Kids</option>
                        <option value="8">Family</option>
                        <option value="9">Biography</option>
                        <option value="10">Adult</option>
                        <option value="11">Thriller</option>
                        <option value="12">Advanture</option>
                    </select>
                </div>
                @Html.Label("Membership Type:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    <select class="form-control" style="width:50%" name="membershipTypeID">
                        <option value="0" selected></option>
                        <option value="1">Free</option>
                        <option value="2">Premium</option>
                    </select>
                </div>
            </div>
            @Html.Label("Release Date:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group date" data-provide="datepicker" id="date">
                <input type="text" class="form-control" style="width:70%" name="date">
                <div class="input-group-addon" style="width:20px">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </p>
    }
</div>

</br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.genre.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.summary)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.genre.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.summary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
